export FIMER_HOST=$(op read "op://rise-dev/fimer bin/fimer_host")
export FIMER_USER=$(op read "op://rise-dev/fimer bin/username")
export FIMER_PASSWORD=$(op read "op://rise-dev/fimer bin/credential")
export MQTT_HOST=$(op read "op://rise-dev/fimer bin/mqtt_host")
export MQTT_PORT=$(op read "op://rise-dev/fimer bin/mqtt_port")
export MQTT_PASSWORD=$(op read "op://rise-dev/fimer bin/mqtt_pass")
export MQTT_USERNAME=$(op read "op://rise-dev/fimer bin/mqtt_user")
